body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.navbar {
    position: sticky;
    z-index: 1000; 
    display: flex;
    top: 0;
    width: 100%;
    background-color: #FEB8B8;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 70;
}

.navbar ul li {
    margin: 0 70px;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbar .logo img {
    height: 30px; 
}

h1 {
    margin-top: 40px; 
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 30px;
}

.header h1 {
    color: #FEB8B8;
    font-size: 24px; 
    font-weight: bold;
}

.buttons {
    position: absolute;
    top: 100%;
    left: 50px;
}

.buttons button {
    cursor: pointer;
    font-size: 30px; 
    display: block;
    margin-bottom: 50px; 
    padding: 10px 20px; 
    background-color: #FEB8B8;
    color: #ffffff;
    font-weight: bold;
}

.buttons .apply {
    color: #ffffff; 
}

.buttons .join {
    color: #ffffff;
}
.right_text {
    position: absolute;
    font-style: italic;
    top: 110%;
    right: 50px;
    text-align: right;
}

.italic {
    font-size: 30px; 
    color: #FEB8B8;
}
.right_text {
    font-size: 30px; 
    color: #FEB8B8;
}