body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.navbar {
    position: sticky;
    z-index: 1000; 
    top: 0;
    width: 100%;
    background-color: #FEB8B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbar .logo img {
    height: 90px; 
}

h1 {
    margin-top: 40px; 
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 30px;
}

.header h1 {
    color: #FEB8B8;
    font-size: 24px; 
    font-weight: bold;
}

.buttons {
    position: absolute;
    left: 70px;
    top: 60%;
}

.buttons button {
    font-weight: bold;
    font-size: 16px; 
    display: block;
    margin-bottom: 90px; 
    padding: 10px 20px; 
    background-color: #FEB8B8;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.buttons .apply {
    color: #ffffff; 
}

.buttons .join {
    color: #ffffff; 
}

.side-text {
    position: absolute;
    top: 70%;
    right: 50px;
    text-align: right;
    font-style: italic;
}

.side-text .italic {
    font-size: 50px; 
    color: #FEB8B8;
}

.agent-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 70px;
}

.agent {
    display: flex;
    margin-bottom: 40px;
}

.agent-image img {
    height: 300px; 
    margin-right: 20px;
}

.bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bio p {
    margin: 0;
    margin-bottom: 30px;
}

.bio .book {
    padding: 30px 50px;
    background-color: #FEB8B8;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.about-header {
    text-align: center;
    margin-top: 30px;
}

.about-header h1 {
    color: #FEB8B8;
    font-size: 35px; 
    font-weight: bold;
}

.about-header p {
    color: #FEB8B8;
    font-size: 25px; 
}

.about-content {
    margin: 50px;
}

.about-section {
    margin-bottom: 30px;
}

.about-section h2 {
    color: #FEB8B8;
    font-weight: bold;
    font-size: 30px; 
    
}

.about-section p {
    color: #ffffff;
    font-size: 20px; 
}

.about-section ul {
    color: #ffffff;
    font-size: 20px; 
}

.about-section ul {
    list-style: none;
    padding-left: 0;
}

.about-section ul li {
    margin-bottom: 10px;
}

.about-image {
    width: 20%;
    height: 20%;
    margin-top: 20px;
}


.founder {
    text-align: center;
    margin: 20px;
}

.founder img {
    margin-bottom: 10px;
    height: 100px;
    width: 100px; 
    border-radius: 50%;
}

.founder h3 {
    color: #FEB8B8;
    font-size: 20px; 
    margin: 0;
}

.team-member h2 {
    color: #ffffff;
    font-size: 16px; 
}